<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminCategoryController</servlet-name>
        <servlet-class>Controllers.Admin.AdminCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>Controllers.Admin.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>Controllers.Admin.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductController</servlet-name>
        <servlet-class>Controllers.Admin.AdminProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderController</servlet-name>
        <servlet-class>Controllers.Admin.AdminOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserController</servlet-name>
        <servlet-class>Controllers.Admin.AdminUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileController</servlet-name>
        <servlet-class>Controllers.Admin.AdminProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutController</servlet-name>
        <servlet-class>Controllers.Admin.AdminLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBoardController</servlet-name>
        <servlet-class>Controllers.Admin.AdminDashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.User.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.User.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryController</servlet-name>
        <servlet-class>Controllers.User.ProductCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controllers.User.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controllers.User.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>Controllers.User.UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controllers.User.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPAYController</servlet-name>
        <servlet-class>VNPAY.VNPAYController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatusController</servlet-name>
        <servlet-class>Controllers.User.OrderStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPageController</servlet-name>
        <servlet-class>Controllers.User.ErrorPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutController</servlet-name>
        <servlet-class>Controllers.User.UserLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controllers.User.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrderController</servlet-name>
        <servlet-class>Controllers.User.HistoryOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controllers.User.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>Controllers.User.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForgetPasswordController</servlet-name>
        <servlet-class>Controllers.Admin.AdminForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlogController</servlet-name>
        <servlet-class>Controllers.Admin.AdminBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageNotUrlController</servlet-name>
        <servlet-class>Controllers.User.HomePageNotUrlController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlogController</servlet-name>
        <servlet-class>Controllers.User.UserBlogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryController</servlet-name>
        <url-pattern>/admin/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductController</servlet-name>
        <url-pattern>/admin/product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderController</servlet-name>
        <url-pattern>/admin/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserController</servlet-name>
        <url-pattern>/admin/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileController</servlet-name>
        <url-pattern>/admin/profile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBoardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryController</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product/detail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPAYController</servlet-name>
        <url-pattern>/vnpay/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatusController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPageController</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrderController</servlet-name>
        <url-pattern>/history/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forget-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForgetPasswordController</servlet-name>
        <url-pattern>/admin/forget-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogController</servlet-name>
        <url-pattern>/admin/blog/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageNotUrlController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlogController</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
